# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_NIBBLE
	def_bool $(shields_list_contains,nibble)

config SHIELD_NIBBLE_ISO
	def_bool $(shields_list_contains,nibble_iso)
